In [1]:
import re
import pandas as pd

In [2]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.],
                  'Min Speed': [10., 20., 25., 40.],
                  'hi':['ab1','bb2','cb3','db4'],
                  'hai':['p','r','o','f']})

In [3]:
df

   Animal  Max Speed  Min Speed   hi hai
0  Falcon      380.0       10.0  ab1   p
1  Falcon      370.0       20.0  bb2   r
2  Parrot       24.0       25.0  cb3   o
3  Parrot       26.0       40.0  db4   f

In [ ]:
df.loc[:,['Animal']]

In [ ]:
deef.loc[:,'Animal'].tolist()

In [ ]:
deef = df.groupby(['Animal'])[['Max Speed']].sum()
deef = deef.reset_index()

In [ ]:
df.groupby(['Animal']).max()

In [ ]:
df.loc[0,'hi'].replace('a','p')

In [ ]:
def replaceYear(row):
    return 'ii'

In [ ]:
df['hi'] = df['hi'].apply(replaceYear)

In [4]:
s = df.loc[0,:]
s

Animal       Falcon
Max Speed       380
Min Speed        10
hi              ab1
hai               p
Name: 0, dtype: object

In [5]:
s.iloc[3]

'ab1'

In [10]:
pattern = '\d+$'
re.findall(pattern, s['hi'])[0] + s['hai']

'1p'

In [11]:
s.loc['hi']

'ab1'

In [18]:
df = pd.DataFrame({'Animal': ['Fon', 'Fcon',
                              'Pat', 'Parrot'],
                  'date': ['2020','2020','2010','2000']})
df

   Animal  date
0     Fon  2020
1    Fcon  2020
2     Pat  2010
3  Parrot  2000

In [25]:
df.groupby('date').count()

      Animal
date
2000       1
2010       1
2020       2